<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled (copy)</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Filter.css">
    <link rel="stylesheet" href="/static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="/static/css/Multi-Select-Dropdown-by-Jigar-Mistry.css">
    <link rel="stylesheet" href="/static/css/multi.min.css">
    <link rel="stylesheet" href="/static/css/Multiple-Select-MaterializeCSS.css">
    <link rel="stylesheet" href="/static/css/Select-Search.css">
    <link rel="stylesheet" href="/static/css/Studious-selectbox-1.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/SWLP_CARAVAN_SELECT_MULTI.css">
</head>

<body style="background-color: rgb(197,198,193);">
<form action="/sub" method="post">
    <div style="margin-top: 200px;margin-right: 20%;margin-left: 20%;">
        <h1 class="text-center" style="width: 100%;">symptom checker&nbsp;</h1><button name="page" value="start" class="btn btn-primary active text-center d-flex justify-content-center" type="submit" style="margin-top: 56px;width: 100%;opacity: 0.77;filter: blur(0px) brightness(108%);">start here &gt;</button></div>
</form>
    <script
        src="/static/js/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="/static/js/mdc_select.js"></script>
        <script src="/static/js/Multi-Select-Dropdown-by-Jigar-Mistry.js"></script>
        <script src="/static/js/multi.min.js"></script>
        <script src="/static/js/Multiple-Select-MaterializeCSS.js"></script>
        <script src="/static/js/Select-Search.js"></script>
        <script src="/static/js/Studious-selectbox-1.js"></script>
        <script src="/static/js/SWLP_CARAVAN_SELECT_MULTI-1.js"></script>
        <script src="/static/js/SWLP_CARAVAN_SELECT_MULTI.js"></script>
</body>

</html>